extends base.pug

block title
  title= config.title + " | " + config.subtitle

block main

    //- Blog title and subtitle
    header.wrapper.header
      .container.blog-title
        a#logo.title(href=url_for('.'))= config.title
        span.subtitle= config.subtitle
        label#toggle-menu(for="menu", onclick)
          i.fa.fa-bars
      //- use checkbox hack for toggle nav-bar on small screens
      input#menu(type="checkbox")
      .container.nav-items
        each nav, name in theme.menu
          +a_with_current(nav, __(name))

    article.wrapper
      #index-main.container.entries
        for post in page.posts.toArray()
          .post-entry
            .post-desc
              .post-title
                if post.link
                    a(href=url_for(post.link),target="_blank", itemprop="url")= post.title
                else
                    a(href=url_for(post.path))= post.title

              .post-content
                if post.description
                  != post.description
                else if post.excerpt
                  != post.excerpt
                else if post.content
                  - var br = post.content.indexOf('</p>')
                  if br < 0
                    != post.content
                  else
                    != post.content.substring(0, br + 4)

              .post-meta
                if (post.tags && post.tags.length)
                  .post-tags
                    != list_tags(post.tags, {show_count: false, class: 'post-tag', style:'none', separator:''})
                .post-time= post.date.format(config.date_format)

    if !theme.infinite_scroll
      include _partial/paginator.pug

    footer.footer.wrapper
      .social
        +social_icon('email', "mailto:", "far fa-envelope-open")
        +social_icon('twitter', 'https://twitter.com/', 'fab fa-twitter')
        +social_icon('gitlab', 'https://gitlab.com/', 'fab fa-gitlab')
        +social_icon('ctftime', "https://ctftime.org/team/", "fa fa-chart-area")
        +social_icon('rss', "", "fa fa-rss")

      .footer-content
        - var year = date(new Date(), 'YYYY');
        = '© ' + year + ' '
        a(href='/', rel='nofollow')= config.title
        = '. Powered by '
        a(rel='nofollow', target='_blank', href='https://hexo.io') Hexo
        = ' & '
        a(target='_blank', href='https://github.com/lotabout/hexo-theme-noise') Noise
        |.

    if theme.infinite_scroll
      script(src="//cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js")
      script(src=root + 'js/noise.js')
