extends base.pug

block title
  title= page.title + " | " + config.title

block main

  //- Blog title and subtitle
  header.wrapper.header
    .container.blog-title
      a#logo.title(href=url_for('.'))= config.title
      span.subtitle= config.subtitle
      label#toggle-menu(for="menu", onclick
         i.fa.fa-bars)
    //- use checkbox hack for toggle nav-bar on small screens
    .nav
      .container.nav-items
        each nav, name in theme.menu
          +a_with_current(nav, __(name))

  //- gallery that comes before the header
  if page.photos
     if page.photos.length
      .article-gallery
        .article-gallery-photos.container
          for photo in page.photos
            a.article-gallery-img.fancybox(href=url_for(photo), rel="gallery_" + page._id)
              img(src=url_for(photo), itemprop="image")

  article.wrapper
    .post-main
      .nav
        nav.container
        .container.post-meta
          if (page.tags && page.tags.length)
            .post-tags
              != list_tags(page.tags, {show_count: false, class: 'post-tag', style:'none', separator:''})
          .post-time= page.date.format(config.date_format)

      .container.post-header
        h1: = page.title

      if (theme.show_toc_by_default && typeof page.toc === 'undefined') || page.toc
        .container.post-toc
          details.toc
            summary.toc-accordion
              = theme.toc_words
            != toc(page.content)

      .container.post-content
        != page.content

    include _partial/mathjax.pug

    .post-main.post-comment
      include _partial/comments.pug

